{% extends 'base.html.twig' %}

{% block body %}


	<div class="row ">
		{% for article in articles %}

			<div class="col-md-3" name="{{article.categorie}}">
				<div class="card">
					<div class="col-md-12">
						<img src={{article.image}} class="card-img-top" style="height: 200px;" alt="Article Image">
					</div>
					<div class="card-body">
						<h5 class="card-title">{{article.id}}</h5>
						<h5 class="card-title">{{article.name}}</h5>
						<span class="card-categorie">{{article.price}}</span>
						<p class="card-text">{{article.description}}</p>
						<a class="btn btn-danger" href="{{path('article_delet', {id:article.id})}}">
							delete
						</a>
						<a class="btn btn-success btn-form" href="{{path('order_add_article', {id:article.id})}}">
							Ajout panier
						</a>
					</div>
				</div>
			</div>
		{% endfor %}

	</nav>
	<li>
		<a href="http://127.0.0.1:8000/articles/new">
			Lien ajout article
		</a>
	</li>
	<li>
		<a href="http://127.0.0.1:8000/commandes">
			Lien Panier
		</a>
	</li>

{% endblock %}
